<h1>Listing lesson_plans</h1>

<table>
  <tr>
    <th>Tags</th>
    <th>Grade</th>
    <th>Subject</th>
    <th>Length</th>
    <th>Difficulty</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lesson_plans.each do |lesson_plan| %>
  <tr>
    <td><%= lesson_plan.tags %></td>
    <td><%= lesson_plan.grade %></td>
    <td><%= lesson_plan.subject %></td>
    <td><%= lesson_plan.length %></td>
    <td><%= lesson_plan.difficulty %></td>
    <td><%= lesson_plan.content %></td>
    <td><%= link_to 'Show', lesson_plan %></td>
    <td><%= link_to 'Edit', edit_lesson_plan_path(lesson_plan) %></td>
    <td><%= link_to 'Destroy', lesson_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson plan', new_lesson_plan_path %>
