<p id="notice"><%= notice %></p>

<p>
  <b>Tags:</b>
  <%= @lesson_plan.tags %>
</p>

<p>
  <b>Grade:</b>
  <%= @lesson_plan.grade %>
</p>

<p>
  <b>Subject:</b>
  <%= @lesson_plan.subject %>
</p>

<p>
  <b>Length:</b>
  <%= @lesson_plan.length %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @lesson_plan.difficulty %>
</p>

<p>
  <b>Content:</b>
  <%= @lesson_plan.content %>
</p>


<%= link_to 'Edit', edit_lesson_plan_path(@lesson_plan) %> |
<%= link_to 'Back', lesson_plans_path %>
