<form name="input" action="display" method="get">
<h2>Grade Level</h2>
<ul>
	<li><input type="radio" name="grade" value="K"/> Pre-K to K</li>
	<li><input type="radio" name="grade" value="1"/> 1 - 2</li>
	<li><input type="radio" name="grade" value="3"/> 3 - 5</li>
	<li><input type="radio" name="grade" value="6"/> 6 - 8</li>
	<li><input type="radio" name="grade" value="9"/> 9 - 12</li>
	<li><input type="radio" name="grade" value="K"/> Higher Education</li>
	<li><input type="radio" name="grade" value="K"/> Adult Education</li>
	<li><input type="radio" name="grade" value="all" checked/> All Grades</li>
</ul>
<h2>Subject</h2>
<ul>
	<li><input type="radio" name="subject" value="Science"/> Science</li>
	<li><input type="radio" name="subject" value="Math"/> Math</li>
	<li><input type="radio" name="subject" value="History"/> History</li>
	<li><input type="radio" name="subject" value="English"/> English</li>
	<li><input type="radio" name="subject" value="Social Studies"/> Social Studies</li>
	<li><input type="radio" name="subject" value="Art"/> Art &amp; Music</li>
	<li><input type="radio" name="subject" value="all" checked/> All Subjects</li>
</ul>
<h2>Lesson Length</h2>
<ul>
	<li><input type="radio" name="length" value="5"/> 5 - 14 minutes</li>
	<li><input type="radio" name="length" value="15"/> 15 - 29 minutes</li>
	<li><input type="radio" name="length" value="30"/> 30 - 44 minutes</li>
	<li><input type="radio" name="length" value="45"/> 45 - 59 minutes</li>
	<li><input type="radio" name="length" value="60"/> 60 - 89 minutes</li>
	<li><input type="radio" name="length" value="90"/> 90 - 119  minutes</li>
	<li><input type="radio" name="length" value="120"/> 2+ hours</li>
	<li><input type="radio" name="length" value="all" checked/> All Lesson Lengths</li>
</ul>
<h2>Difficulty Level</h2>
<ul>
	<li><input type="radio" name="difficulty" value="Easy"/> Easy</li>
	<li><input type="radio" name="difficulty" value="Moderate"/> Moderate</li>
	<li><input type="radio" name="difficulty" value="Difficult"/> Difficult</li>
	<li><input type="radio" name="difficulty" value="all" checked/> All Difficulty Levels</li>
</ul>
<h2>Rating</h2>
<ul>
	<li class="star r0"><input type="radio" name="rating" value="all" checked/><span class="starText"> and Up</span></li>
	<li class="star r1"><input type="radio" name="rating" value="1"/><span class="starText"> and Up</span></li>
	<li class="star r2"><input type="radio" name="rating" value="2"/><span class="starText"> and Up</span></li>
	<li class="star r3"><input type="radio" name="rating" value="3"/><span class="starText"> and Up</span></li>
	<li class="star r4"><input type="radio" name="rating" value="4"/><span class="starText"> and Up</span></li>
	<li class="star r5"><input type="radio" name="rating" value="5"/></li>
</ul>
<input type="submit" value="Submit">
</form>
<div class="resultsListContainer">
	<table class="resultsList">
		<tr>
			<th class="subject"><h3>Subject</h3></th>
			<th class="icon"></th>
			<th class="title"><h3>Title</h3></th>
			<th class="author"><h3>Author</h3></th>
			<th class="grade"><h3>Grade</h3></th>
			<th class="time"><h3>Time</h3></th>
			<th class="rating"><h3>Rating</h3></th>
		</tr>
		<% if @plans %>
		  <% @plans.each do |plan| %> 
		    <tr <%= "onclick=\"document.location = 'lesson_plan/#{plan.id}';\"".html_safe %>>
		    	<td class="subject"><p><%= plan.subject %><p></td>
		    	<td class="icon"><span class="iconContainer <%= plan.subject.downcase %>"></span></td>
		    	<td class="title">
		    		<h4><%= plan.name %></h4>
		    		<p><%= plan.short %></p>
		    	</td>
		    	<td class="author"><p><%= plan.author.name %><p></td>
		    	<td class="grade"><p><%= plan.tags.where("name like 'Grade%'").map(&:name).first %><p></td>
		    	<td class="time"><p><%= plan.tags.where("name like '%minutes'").map(&:name).first %><p></td>
		    	<td class="rating">
		    		<span class="iconContainer starsFour"></span>
		    		<p><a href="#"><%= plan.ratings.count.to_s + " ratings" %></a></p>
		    	</td>
		    </tr>
		  <% end %>
		<% else %>
		  <tr>
		    Sorry, no lesson plans fit that criteria
		  </tr>
		<% end %>
	</table>
</div>